body {
    margin: 0;
    padding: 0;
    height: auto;
}

.header-section {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    height: 80px;
    background-color: white;
}

.logo-block {
    margin: 0;
    width: 100%;
    height: 80px;
    float: left;
}

.logo-block div {
    margin: 15px 0 15px 40px;
    width: 90px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: goldenrod;
}

.logo-block div:hover {
    background-color: rgb(255, 187, 0);
    cursor: pointer;
}

.logo-block div h2 {
    margin: 0;
    padding: 4px 5px 0 12px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.menu-block {
    width: 100%;
    height: 80px;
    float: left;
}

.menu-block ul {
    margin: 0;
    width: 100%;
    height: 45px;
    padding: 35px 0 0 0;
    list-style-type: none;
}

.menu-block ul li {
    padding: 0 3.5%;
    float: left;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
}

.search-box {
    margin: 0;
    padding: 0x;
    width: 100%;
    height: 80px;
    float: left;
}

.search-box button {
    margin: 30px 0 0 0;
    width: 9%;
    height: 27px;
    float: right;
    border: none;
    border-radius: 2px;
    background-color: rgb(192, 178, 178);
    color: white;
}

.search-box input {
    margin: 30px 0 0 0;
    width: 75%;
    float: right;
    height: 27px;
    background-color: rgb(238, 231, 231);
    border: none;
    border-radius: 2px;
}

.search-box input::placeholder {
    padding: 0 0 0 10px;
    font-size: 12px;
    opacity: 0.5;
}

.profile-block {
    margin: 0;
    width: 100%;
    height: 80px;
    float: left;
}

.ratings-section {
    margin: 0;
    height: 450px;
    border-bottom: 3px solid orange;
}

.ratings-container {
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;
    height: 450px;
}

.ratings-container .first-block {
    height: 450px;
    float: left;
    background-image: url(./rating-section-image/01.jpg);
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.5;
}

.ratings-container .middile-block {
    height: 450px;
    float: left;
    background-image: url(./rating-section-image/03.png);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.6;
    display:grid;
    grid-template-columns: 2.3fr 1fr;
 
}


.ratings-container .last-block {
    height: 450px;
    float: left;
    background-image: url(./rating-section-image/02.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.5;
}

.give-ratings h2 {
    margin: 0;
}

.movies-section {
    width: 100%;
    height: 950px;
    background-color: rgb(236, 234, 234);
}

.movies-section .movie-first {
    width: 15%;
    height: 950px;
    float: left;
    background-color: rgb(236, 234, 234);
}

.movies-section .movie-middile {
    margin: 0;
    width: 70%;
    height: 950px;
    float: left;
    background-color: rgb(236, 234, 234);
}

.movie-middile-head ul li span {
    margin: 0;
    padding: 10px 0 0 0;
    width: 100%;
    height: 30px;
    background-color: rgb(236, 234, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    list-style: none !important;
}

.container {
    display: grid;
    height: 800;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    background-color: rgb(236, 234, 234);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.container .image {
    background-color: white;
    height: 400px;
    width: 100%;
}

.container .image img {
    margin: 7%;
    height: 280px;
    width: 86%;
}

.container .image h3 {
    margin: 5px 7%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.container .image p {
    margin: 5px 7%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.movie-middile-bottom {
    width: 100%;
    height: 50px;
}

.movie-middile div h2 {
    margin: 0 46%;
    padding-top: 20px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}

.movies-section .movie-last {
    width: 15%;
    height: 950px;
    float: left;
    background-color: rgb(236, 234, 234);
}

.slider-section {
    width: 100%;
    height: 420px;
    background-color: rgb(206, 82, 82);
}

.sliding-first {
    width: 15%;
    height: 420px;
    float: left;
    background-color: rgb(56, 55, 55);
}

.sliding-middile {
    width: 70%;
    height: 420px;
    float: left;
    background-color: rgb(56, 55, 55);
}

.sliding-head {
    width: 100%;
    height: 60px;
    background-color: rgb(56, 55, 55);
}

.sliding-head h2 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
}

.sliding-img {
    width: 100%;
    height: 280px;
    background-color: antiquewhite;
}

.sliding-img .i1 {
    margin: 0;
    float: left;
    width: 7%;
    height: 280px;
    background-color: rgb(56, 55, 55);
}

.sliding-img .i1 i {
    padding-top: 80px;
    font-size: 70px;
    color: white;
}

.sliding-container {
    display: grid;
    float: left;
    height: 280px;
    background-color: rgb(56, 55, 55);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 86%;
}

.sliding-container .image {
    margin: 0;
    width: 100%;
    height: 280px;
    background-color: rgb(56, 55, 55);
    color: white;
}

.sliding-container .image img {
    margin: 5%;
    width: 87%;
    height: 190px;
    margin-bottom: 20px;
    border-radius: 7px;
}

.sliding-container .image h4 {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 11px;
    text-align: center;
}

.sliding-container .image p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: rgb(56, 55, 55);
    opacity: 0.8;
}

.sliding-container .image:hover {
    color: black;
    background-color: white;
    border-radius: 4px;
}

.sliding-container .image img:hover {
    width: 90%;
    height: 200px;
}

.sliding-img .i2 {
    margin: 0;
    float: left;
    width: 7%;
    height: 280px;
    background-color: rgb(56, 55, 55);
}

.sliding-img .i2 i {
    padding-top: 80px;
    font-size: 70px;
    float: right;
    color: white;
}

.sliding-buttom {
    width: 100%;
    height: 80px;
    background-color: rgb(56, 55, 55);
}

.sliding-buttom h3 {
    margin: 0;
    padding-top: 25px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
}

.sliding-last {
    width: 15%;
    height: 420px;
    float: left;
    background-color: rgb(56, 55, 55);
}

.picks-section {
    margin: 0;
    width: 100%;
    height: 570px;
    background-color: rgb(236, 234, 234);
}

.picks-section .picks-first {
    margin: 0;
    float: left;
    width: 15%;
    height: 570px;
}

.picks-section .picks-middile {
    margin: 60px 0;
    width: 70%;
    float: left;
    height: 450px;
    background-color: white;
}

.picks-middile .picks-middile-first {
    width: 100%;
    height: 40px;
}

.picks-middile-first h6 {
    margin: 30px 0 0 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: black;
    font-weight: normal;
}

.picks-middile-first h6 span {
    font-weight: bold;
}

.picks-middile-container {
    display: grid;
    margin: 0 3%;
    width: 94%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 270px;
}

.picks-middile-container .image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 270px;
}

.picks-middile-container .image img {
    margin: 10px 13% 20px 13%;
    height: 210px;
    width: 74%;
}

.picks-middile-last {
    margin: 0 3%;
    width: 94%;
    height: 120px;
}

.picks-middile-last p {
    margin: 0 10px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: black;
    opacity: 0.4;
}

.picks-middile-last h5 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
}

.picks-section .picks-last {
    margin: 0;
    width: 15%;
    float: left;
    height: 570px;
}

.footer-section {
    width: 100%;
    height: 120px;
    background-color: white;
}

.footer-icon {
    display: grid;
    margin: 0;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    height: 80px;
    width: 100%;
}

.footer-icon .icon {
    text-align: center;
    padding: 20px 0 0 0;
}

.footer-icon .icon i {
    margin: 10px;
    font-size: 40px;
    opacity: 0.4;
}

.footer-section p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    color: black;
    opacity: 0.4;
}