body {
    margin: 60px 60px;
    padding: 0;
    height: auto;
    background-color: rgba(105, 102, 102, 0.863);
}

.header-section {
    width: 100%;
    height: 80px;
    background-color: white;
}

.logo-block {
    margin: 0;
    width: 15%;
    height: 80px;
    float: left;
}

.logo-block div {
    margin: 15px 0 15px 40px;
    width: 90px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: goldenrod;
}

.logo-block div:hover {
    background-color: rgb(255, 187, 0);
    cursor: pointer;
}

.logo-block div h2 {
    margin: 0;
    padding: 4px 5px 0 12px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.menu-block {
    width: 35%;
    height: 80px;
    float: left;
}

.menu-block ul {
    margin: 0;
    width: 100%;
    height: 45px;
    padding: 35px 0 0 0;
    list-style-type: none;
}

.menu-block ul li {
    padding: 0 3.5%;
    float: left;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
}

.search-box {
    margin: 0;
    padding: 0x;
    width: 35%;
    height: 80px;
    float: left;
}

.profile-block {
    margin: 0;
    width: 15%;
    height: 80px;
    float: left;
}

.ratings-section {
    margin: 0;
    width: 100%;
    height: 500px;
    border-bottom: 3px solid orange;
}

.ratings-section .first-block {
    width: 15%;
    height: 500px;
    float: left;
    background-image: url(./01.jpg);
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.5;
}

.ratings-section .middile-block {
    width: 70%;
    height: 500px;
    float: left;
    background-image: url(./03.png);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.6;
}

.ratings-section .last-block {
    width: 15%;
    height: 500px;
    float: left;
    background-image: url(./02.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.5;
}

.give-ratings h2 {
    margin: 0;
}

.movies-section {
    width: 100%;
    height: 930px;
    background-color: rgb(236, 234, 234);
}

.movies-section .movie-first {
    width: 15%;
    height: 930px;
    float: left;
    background-color: rgb(236, 234, 234);
}

.movies-section .movie-middile {
    margin: 0;
    width: 70%;
    height: 930px;
    float: left;
    background-color: rgb(236, 234, 234);
}

.movie-middile ul li span {
    margin: 0;
    padding: 10px 0 0 0;
    width: 100%;
    height: 30px;
    background-color: rgb(236, 234, 234);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    list-style-type: ;
}

.movie-middile .image1 {
    width: 100%;
    height: 370px;
    background-color: rgb(236, 234, 234);
}

.image1 .img1 {
    margin: 0;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image1 .img1 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image1 .img1 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image1 .img1 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image1 .img2 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image1 .img2 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image1 .img2 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image1 .img2 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image1 .img3 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image1 .img3 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image1 .img3 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image1 .img3 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image1 .img4 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image1 .img4 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image1 .img4 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image1 .img4 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image1 .img5 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image1 .img5 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image1 .img5 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image1 .img5 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.movie-middile .image2 {
    margin: 15px 0 0 0;
    width: 100%;
    height: 370px;
    background-color: rgb(236, 234, 234);
}

.image2 .img1 {
    margin: 0;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image2 .img1 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image2 .img1 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image2 .img1 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image2 .img2 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image2 .img2 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image2 .img2 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image2 .img2 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image2 .img3 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image2 .img3 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image2 .img3 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image2 .img3 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image2 .img4 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image2 .img4 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image2 .img4 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image2 .img4 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.image2 .img5 {
    margin: 0 0 0 2%;
    width: 18.4%;
    height: 370px;
    float: left;
    background-color: white;
}

.image2 .img5 img {
    margin: 20px 10%;
    width: 80%;
    height: 250px;
}

.image2 .img5 h3 {
    margin: 0 10%;
    font-size: 13px;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
}

.image2 .img5 p {
    margin: 5px 10%;
    font-size: 14px;
    font-family: 'Heebo', sans-serif;
    opacity: 0.6;
}

.movie-middile div {
    margin: 15px 0 0 0;
    width: 100%;
    height: 50px;
}

.movie-middile div h2 {
    margin: 0 46%;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
}

.movies-section .movie-last {
    width: 15%;
    height: 930px;
    float: left;
    background-color: rgb(236, 234, 234);
}

.slider-section {
    width: 100%;
    height: 420px;
    background-color: rgb(206, 82, 82);
}

.sliding-first {
    width: 15%;
    height: 420px;
    float: left;
    background-color: rgb(56, 55, 55);
}

.sliding-middile {
    width: 70%;
    height: 420px;
    float: left;
    background-color: rgb(56, 55, 55);
}

.sliding-head {
    width: 100%;
    height: 60px;
    background-color: rgb(56, 55, 55);
}

.sliding-head h2 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
}

.sliding-img {
    width: 100%;
    height: 290px;
}

.sliding-img .i1 {
    margin: 0;
    float: left;
    width: 7%;
    height: 290px;
    background-color: rgb(56, 55, 55);
}

.sliding-img .i1 i {
    padding-top: 80px;
    font-size: 70px;
    color: white;
}

.sliding-img .image {
    margin: 0;
    float: left;
    width: 86%;
    height: 290px;
    background-color: rgb(56, 55, 55);
}

.sliding-img .image div {
    margin: 0;
    padding: 7px 1%;
    width: 12.28%;
    height: 270px;
    float: left;
    background-color: rgb(56, 55, 55);
    color: white;
}

.sliding-img .image div img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 7px;
}

.sliding-img .image div h4 {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 11px;
    text-align: center;
}

.sliding-img .image div P {
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: rgb(56, 55, 55);
    opacity: 0.8;
}

.sliding-img .image div:hover {
    border-radius: 4px;
    color: black;
    background-color: white;
}

.sliding-img .i2 {
    margin: 0;
    float: left;
    width: 7%;
    height: 290px;
    background-color: rgb(56, 55, 55);
}

.sliding-img .i2 i {
    padding-top: 80px;
    font-size: 70px;
    float: right;
    color: white;
}

.sliding-buttom {
    width: 100%;
    height: 70px;
    background-color: rgb(56, 55, 55);
}

.sliding-buttom h3 {
    margin: 0;
    padding-top: 25px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
}

.sliding-last {
    width: 15%;
    height: 420px;
    float: left;
    background-color: rgb(56, 55, 55);
}

.picks-section {
    margin: 0;
    width: 100%;
    height: 570px;
    background-color: rgb(236, 234, 234);
}

.picks-section .picks-first {
    margin: 0;
    float: left;
    width: 15%;
    height: 570px;
}

.picks-section .picks-middile {
    margin: 60px 0;
    width: 70%;
    float: left;
    height: 450px;
    background-color: white;
}

.picks-middile .picks-middile-first {
    width: 100%;
    height: 40px;
}

.picks-middile-first h6 {
    margin: 30px 0 0 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: black;
    font-weight: normal;
}

.picks-middile-first h6 span {
    font-weight: bold;
}

.picks-middile-image {
    margin: 0 3%;
    width: 94%;
    height: 260px;
}

.picks-middile-image img {
    margin: 15px 2%;
    width: 12.23%;
    height: 200px;
}

.picks-middile-last {
    margin: 0 3%;
    width: 94%;
    height: 130px;
}

.picks-middile-last p {
    margin: 0 10px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: black;
    opacity: 0.4;
}

.picks-middile-last h5 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
}

.picks-section .picks-last {
    margin: 0;
    width: 15%;
    float: left;
    height: 570px;
}

.footer-section {
    text-align: center;
    width: 100%;
    height: 120px;
    background-color: white;
}

.footer-section i {
    margin: 20px 10px;
    font-size: 40px;
    color: black;
    opacity: 0.2;
}

.footer-section p {
    margin: 0;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    color: black;
    opacity: 0.4;
}